{% extends 'layout.html' %}

{% block css %}
<!--setting up CSS in this block - currently on picnic template -->
<link rel="stylesheet" href="https://unpkg.com/picnic" />
{% endblock %}

{% block content %}
<header>
    <!--adding an "article" section from picnic template -->
    <article class="flex one" style="padding: 3em 1em;">
        <!--the flex above splits the article section into # of column secions-->
        <div class="container">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </div>
    </article>
</header>
{% endblock %}