<!DOCTYPE HTML>
<html>

<head>
    <title>Spotify Song Suggester</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% assets "all_css" %}
    <link rel="stylesheet" type=text/css href="{{ ASSET_URL }}" />
    {% endassets %}

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section class="intro">
            <header>
                <h1>Spotify Song Suggester</h1>
                <p>Help users find and visualize songs that fit their personal taste.</p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </header>
            <div class="content">
                <span class="image fill" data-position="center"><img src="{{url_for('static', filename='pic01.jpg')}}"
                        alt="" /></span>
            </div>
        </section>

        <!-- Section -->
        <section id="first">
            <header>
                <h2>User Input here</h2>
            </header>
            <div class="content">
                <p><strong>Tell us your favorite song!</strong></p>
                <form>
                    <input type="text" name="user_input" placeholder="song and artist" />
                    </br>
                    <div class="actions">
                        <input type="submit" value="sumbit" class="button primary" /></li>
                    </div>
                </form>
                <span class="image main"><img src="{{url_for('static', filename='pic02.jpg')}}" alt="" /></span>
            </div>
        </section>

        <!-- Section -->
        <section>
            <header>
                <h2>Recommendation and Visualizations</h2>
            </header>
            <div class="content">
                <p><strong></strong>Here is our recommendation. Take a listen!<strong></p>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/track/0pQskrTITgmCMyr85tb9qq?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <!-- This code is adding feature icons, which are not necessary for the app
                <ul class="feature-icons">
                    <li class="icon solid fa-laptop">Consequat tempus</li>
                    <li class="icon solid fa-bolt">Etiam adipiscing</li>
                    <li class="icon solid fa-signal">Libero nullam</li>
                    <li class="icon solid fa-cog">Blandit condimentum</li>
                    <li class="icon solid fa-map-marker-alt">Lorem ipsum dolor</li>
                    <li class="icon solid fa-code">Nibh amet venenatis</li>
                </ul>
                -->
                <p>The End</p>
            </div>
        </section>


    </div>

    <!-- Scripts -->
    {% assets "all_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>

</html>