<!DOCTYPE HTML>
<html>

<head>
    <title>Spotify Song Suggester</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% assets "all_css" %}
    <link rel="stylesheet" type=text/css href="{{ ASSET_URL }}" />
    {% endassets %}

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section class="intro">
            <header>
                <h1>Spotify Song Suggester</h1>
                <p>To help you find new songs that fit your personal taste.</p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </header>
            <div class="content">
                <span class="image fill" data-position="center"><img src="{{url_for('static', filename='pic01.jpg')}}"
                        alt="" /></span>
            </div>
        </section>

        <!-- Section -->
        <section id="first">
            <header>
                <h2>Give it a try!</h2>
            </header>
            <div class="content">
                <p><strong>{{message}}</strong></p>
                <form action='/rec' method="post">
                    <p><strong>Tell us your favorite song!</strong></p>
                    <input type="text" name="text_input" placeholder="track name by artist" />
                    <br>
                    <p><strong>Select a year of music (1950-2020)</strong></p>
                    <input type="number" name="year_input" min="1950" max="2020" placeholder="2020">
                    <br>
                    <br>
                    <input type="submit" value="sumbit" class="button primary" />
                </form>
                <span class="image main"><img src="{{url_for('static', filename='pic02.jpg')}}" alt="" /></span>
            </div>
        </section>


    </div>

    <!-- Scripts -->
    {% assets "all_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>

</html>