<header>
    <nav>
        <!--adding a home button at the top of the page of the "brand" class in picnic template -->
        <a href="/" class="brand"><span>Home button</span></a>

        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>
        <!--don't really know what the above two lines do-->

        <!--adding a menu with buttons at the top of the page from picnic template-->
        <div class="menu">
            <a href="/" class="button success">green button</a>
            <a href="/" class="button warning">yellow button</a>
            <a href="/" class="button error">red button</a>
            <a href="/" class="button psuedo">blue button</a>
        </div>
    </nav>
</header>